
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebcamJS Test Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">


        body {
            font-family: Helvetica, sans-serif;
            max-height: 250px;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }


        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }

        .container {
            max-height: 250px;
        }
    </style>

</head>
<body class="container">
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Select Your Course</div>
                <div class="panel-body">
                    <div id="my_courses"></div>
                    <!-- A button for selecting your course -->
                    <form>
                        <input type="radio" id="ba" name="course" value="B.E">
                        <label for="ba ">B.E</label><br>
                        <input type="radio" id="me" name="course" value="M.E">
                        <label for="me">M.E</label><br>
                        <input type="radio" id="phd" name="course" value="Ph.D">
                        <label for="phd">Ph.D</label><br>
                        <input type="radio" id="ca" name="course" value="CA">
                        <label for="ca">CA</label><br>
                        <input type="radio" id="bba" name="course" value="B.B.A">
                        <label for="bba">B.B.A</label>
                    </form>
                </div>
            </div>
        </div>
        @*<div class="col-md-2"></div>*@
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Camera</div>
                <div class="panel-body">
                    <div id="my_camera"></div>
                    <!-- A button for taking snaps -->
                    <form>
                        <input type="button" class="btn btn-success" value="Take Snapshot" onClick="take_snapshot()">
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Captured Photo</div>
                <div class="panel-body">
                    <div id="results">Your captured image will appear here...</div>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="col-md-2">    </div>
    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' +
                    data_uri +
                    '"/>';

                Webcam.upload(data_uri,
                    '/Camera/Capture',
                    function (code, text) {
                        alert('Photo Captured');
                    });
            });
        }
    </script>

</body>
</html>

